<div class="container">
  	<div class="row">
    	<div class="col-md-12">
    		<div class="text-md-center">
    			<br>
    			<br>
    			<br>
    			<br>
    			<br>
            	<h3>ご購入ありがとうございました！</h3>
          	</div>
        </div>
    </div>
</div>
